
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1em; 
    font-family: "Open Sans", sans-serif;

}

h1, h2, h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--Very-Dark-Cyan);
}

h3{
    font-size: 2.3rem;
    margin-bottom: 20px;
}

img{
    max-width:  100%;
}

p{
    line-height: 1.5;
}

main{
    width: 100%;
    max-width: 1440px;
    
    margin: 50px auto 0;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin: 0 auto;
    
}

.logo-button{
    padding: 6px 20px;
    border-radius: 50px;
    color: var(--Light-Pink);
    border-color: var(--Light-Pink);
    border: 2px solid var(--Light-Pink);
    background: transparent;
    cursor: pointer;
}

.community{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;

}

.community h1{
    font-size: 3rem;
    
}

.community p{
    text-align: center;
    max-width: 500px;
    margin: 10px 0 20px;
    line-height: 1.5;
}

.button-pink{
    padding: 20px 70px;
    border-radius: 50px;
    background: var(--Pink);
    border: none;
    color: var(--Very-Pale-Blue);
    font-weight: 400;
    margin-bottom: 70px;
    box-shadow: 0 4px 8px rgba(20, 50, 100, 0.3);
    cursor: pointer;
}

.button-pink:hover{
    background: var(--Light-Pink)
}

.community-count{
    display: flex;
    justify-content: space-between;
    gap: 400px;
    margin: 100px 0 0;
   

}

.community-count h2{
    font-size: 4rem;

}

.grow, .users{
    background-image: url(./images/bg-section-top-desktop-1.svg), url(./images/bg-section-top-desktop-2.svg), url(./images/bg-section-bottom-desktop-1.svg), url(./images/bg-section-bottom-desktop-2.svg);
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: top left, top right, bottom left, bottom right;
    padding: 140px 0;

    
}

.grow-background, .users-background{
    background: var(--Very-Pale-Blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0  ;
    gap: 100px;
    padding: 0 100px;
  
 
}

.grow-background p, .users-background p{
    max-width: 750px;
}

.conversations{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 100px 0;
    padding: 100px;
}

.build{
    text-align: center;
    margin-top: 100px;
}

footer{
    background: url(./images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding: 140px 0 0;
}

.footer-background{
    background: var(--Very-Dark-Cyan);
    padding: 100px;

}

.footer-content{
    display: flex;
    justify-content: space-between;
    color: var(--Very-Pale-Blue);
  
   
}

footer p{
    font-size: 0.8rem;
    max-width: 300px;
}

.footer-right .flex{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.icons{
    display: flex;
    gap: 10px;
}

.footer-left h3{
    color: var(--Very-Pale-Blue);
    font-size: 1.5rem;
}

.buttons{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    
}

.footer-btn{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.footer-pink{
    padding: 5px 20px;
    border-radius: 5px;
    background: var(--Pink);
    color: var(--Very-Pale-Blue);
    cursor: pointer;
    border: none;
}

.footer-pink:hover{
    background: var(--Light-Pink);
}

.icons{
    color: var(--Very-Pale-Blue);
    cursor: pointer;
   
}

.footer-background .attribution {
    font-size: 1em;
    text-align: center;
    margin: 50px auto 0;
    max-width: 700px;
  }
  .attribution a {
    color: var(--Very-Pale-Blue);
  }

  @media screen and (max-width: 768px){

    p{
        font-size: 1.4em;
        text-align: center;
        font-weight: 600;
    }

    h1, h2, h3{
        text-align: center;
    }
  
.community{
    padding: 0 50px;
}

    .community h1{
        margin: 100px 50px 40px;
        
    }

    .community p{
        margin: 10px 0 50px;
    
    }

    .community-count{
        flex-direction: column;
        gap: 100px;
    }

    .button-pink{
        margin-bottom: 200px;
        
    }

    .grow, .users{
        background-image: url(./images/bg-section-top-mobile-1.svg), url(./images/bg-section-top-mobile-2.svg), url(./images/bg-section-bottom-desktop-1.svg), url(./images/bg-section-bottom-desktop-2.svg);
        background-repeat: no-repeat; 
        background-size: contain; 
        background-position: top left, top right, bottom left, bottom right;
        padding: 140px 0 20px ;
    
        
    }

    .grow-background, .users-background{
        flex-direction: column-reverse;
        padding: 0 100px;
    }
    
    .conversations{
        flex-direction: column;
    }

    footer{
        background: url(./images/bg-footer-top-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        padding: 100px 0 0;
    }
    
    .footer-background{
        padding: 50px;
    }

    .footer-content{
        flex-direction: column-reverse;
        gap: 100px;
    }

    footer p{
        text-align: start;
        max-width: 500px;
        font-size: 1.4em;
    }

    footer h3{
        text-align: start;
    }

    .buttons{
        flex-direction: column;
    }

    .footer-btn{
        width: 100%;
        height: 50px;
    }

    .footer-pink{
        width: 200px;
        height: 50px;
        align-self: end;
    }

    @media  screen and (min-width: 320px) and (max-width:756px){

        main{
            margin: 30px auto 0;
        }

        p{
            font-size: 1em;
        }

        nav{
            padding: 20px;
        }

        .header-logo{
            width: 130px;

        }

        .community{
            padding: 0 20px;
        }

        .community h1{
            font-size: 1.8rem;
            margin: 30px 10px 40px;

        }

        .button-pink{
            margin-bottom: 100px;
        }

        .community-count{
            gap: 50px;
        }
        
    }

    .grow, .users{
        background-image: url(./images/bg-section-top-mobile-1.svg), url(./images/bg-section-top-mobile-2.svg), url(./images/bg-section-bottom-desktop-1.svg), url(./images/bg-section-bottom-desktop-2.svg);
        background-repeat: no-repeat; 
        background-size: contain; 
        background-position: top left, top right, bottom left, bottom right;
        padding: 50px 0 20px ;
    
        
    }

    
    .grow-background, .users-background{
        flex-direction: column-reverse;
        padding: 0 20px;
    }

    .conversations{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin: 50px 0;
        padding: 50px;
    }

    footer{
        background: url(./images/bg-footer-top-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        padding: 50px 0 0;
    }

    footer p{
        font-size: 1.4em;
    }

    .footer-background .attribution {
        font-size: 0.8em;
        text-align: center;
        margin: 50px auto 0;
        max-width: 700px;
      }
}