*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: hsl(0, 0%, 98%);
    max-width: 1440px;
    width: 100%; 
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 41%)
}


ul li{
    list-style-type: none;
}

main{
    padding: 20px 50px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-right: 400px;
}


.menu li{
    position: relative;

}

.menu li a:hover{
    color: hsl(0, 0%, 8%);
}


.dropdown{
    display: flex;
    flex-direction: column ;
    position: absolute;
    border-radius: 10px;
    background: hsl(0, 0%, 98%);
    top: 35px;
    left: -90px;
    gap: 0;
    width: 12rem;
    z-index: 1;
    box-shadow: 0 0 40px 7px rgba(0,0,0,0.2);
    padding: 10px 20px;
    align-items: baseline;
    display: none;
}

.dropdown li{
   
    margin: 10px 0;
    cursor: pointer;
    margin-left: 10px;
    transition: color 200ms ease-in-out;
    color: hsl(0, 0%, 41%);

}

.link span{
    padding-left: 10px;

}

.dropdown_company{
    display: flex;
    flex-direction: column ;
    position: absolute;
    border-radius: 10px;
    background: hsl(0, 0%, 98%);
    top: 35px;
    left: -20px;
    gap: 0;
    width: 10rem;
    z-index: 1;
    box-shadow: 0 0 40px 7px rgba(0,0,0,0.2);
    padding: 10px 20px;
    align-items: baseline;
    display: none;
}

.dropdown_company li{
   
    margin: 10px 0;
    cursor: pointer;
    margin-left: 10px;
    transition: color 200ms ease-in-out;

}

.sub-menu.active{
    rotate: 180deg;
}

nav .buttons{
    justify-content: flex-end;
    align-items: flex-end;

}

.buttons button{
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 10px;
    padding: 10px 20px;
}

.buttons button:hover{
    border: 2px solid hsl(0, 0%, 8%);
    font-weight: 500;
}

.buttons .login{
    border: none;
}
.buttons .login:hover{
    border: none;
}

.mobile{
    display: none;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px 90px;
    padding: 50px 0 0;
}

.hero .right{
    max-width: 500px;
    margin: 50px 0 0;
}

.hero .right h1{
    font-size: 75px;
    font-weight: 700;
}

.hero .right p{
    padding: 50px 0;
    color: hsl(0, 0%, 41%);
    line-height: 1.5;
    max-width: 450px;
    font-weight: 500;
}

.hero .right button{
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 20px;
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%); 
    border-radius: 10px;
    margin-bottom: 70px;
}

.right button:hover{
    background: hsl(0, 0%, 98%); 
    color: hsl(0, 0%, 8%);
}

.icons{
    display: flex;
    justify-content: space-between;
   
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
@media screen and (min-width: 320px) and (max-width: 768px){

    main{
        padding: 20px 20px;
    }
    nav ul{
        position: fixed;
        right: -100%;
        background:hsl(36, 100%, 99%);
        color: hsl(0, 0%, 8%);
        top: 50px;
        height: 100vh;
        flex-direction: column;
        align-items: baseline;
        padding: 30px 30px;
        display: none;
        font-size: 20px;
        font-weight: bolder;
        width: 70%;
        z-index: 1;
        }
    
        .mobile{
            display: block;
            object-fit: contain;
            cursor: pointer;
        
        }
    
        .mobile #close-nav{
            display: none;
            
    
        }

        .dropdown{
            position: relative;
            top: 15px;
            left: 20px;
            height: 150px;
            box-shadow: none;
            padding: 10px 10px;
            align-items: baseline;
            display: none;
        }

        .dropdown_company{
            height: 100px;
        }

        .buttons {
            display:  none !important;
        }
        
        .hero{
            flex-direction: column-reverse;
            margin: 30px 30px;
            padding: 20px 0 0;
        }

        .right{
            text-align: center;
        }
        
        .hero .right h1{
            font-size: 30px;
        }
        .hero .right p{
            padding: 30px 0;
            font-size: 16px;
           
        }

        .hero .right button{
            margin-bottom: 30px;
        }

        .icons img{
            width: 50px;
     
        }
}