@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


:root{
--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan: hsl(167, 40%, 24%);
--Dark-blue: hsl(198, 62%, 26%);
--Dark-moderate-cyan: hsl(168, 34%, 41%);
--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--White);
    font-size: 1.2em;
    font-family: "Fraunces", serif;;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

main{
     max-width: 1440px;
     width: 100%;
     margin: 0 auto; 
}

header{
    background: url(./images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 0 100px;
   
}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  
}

.menu a{
    text-decoration: none;
    color: var(--White)
}

.active a{
    background: var(--White);
    border-radius: 50px;
    color: var(--Very-dark-desaturated-blue);
    padding: 6px 20px;
}

header .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.hero h1{
    color: var(--White);
}

.hero .arrow{
    position: absolute;
    top: 130px;

    
}

section{
    display: flex;
    align-items: center;
    
    
}

.transform .right{
    padding: 0 105px;
  
}

.transform .right h1, .stand-out .left h1{
    font-size: 3rem;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
}

.transform .right p, .stand-out .left p{
    margin: 40px 0;
    line-height: 1.5;
    color: var(--Dark-grayish-blue);
}

.learn{
    color: var(--Very-dark-desaturated-blue);
    border-bottom-color: var(--Yellow);
    border-bottom-style: solid; 
    border-bottom-width: 6px;
    text-transform: uppercase;
    
    
}

.stand-out, .graphic-photography{
    margin-top: -5px;
}

.stand-out .left{
    padding: 0 100px;
}

.stand-out .learn{
    color: var(--Very-dark-desaturated-blue);
    border-bottom-color: var(--Soft-red);
    border-bottom-style: solid;
    border-bottom-width: 6px;
    text-transform: uppercase;
    

}

.graphic, .photography{
    position: relative;
}

.graphic-text, .photography-text{
    position: absolute;
    top: 350px;
    text-align: center;
    padding: 50px;

}

.graphic-text p, .photography-text p{
    padding: 20px 90px;
    line-height: 1.5;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
   
}

.photography-text {
    color: var(--Dark-blue);
}

.graphic-text {
    color: var(--Dark-desaturated-cyan);
}



.testimonials{
    display: flex;
    flex-direction: column;  
    padding: 120px;

}

.testimonials h2{
    padding-bottom: 50px;
    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    font-size: 1.3em;

}

.testimonials-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
 
    
}

.testimonials img{
    width: 100px; 
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials-content p{
    margin: 50px 0;
    line-height: 1.5;
    color: var(--Dark-grayish-blue)
}

.middle p{
    margin-right: 21px;
}
.testimonials h3{

}

.testimonials .title{
    font-size: 0.8em;
    color: var(--Grayish-blue);
    margin: 0;
}

.gallery img{
    width: 100%;
}

footer{
    padding: 50px 0;
    background: var(--Dark-moderate-cyan);
    text-align: center;
    margin: -5px 0 0;
}

.footer-logo{
    color: var(--Dark-desaturated-cyan)
}

.footer-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px 0;

   
}

footer .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0;
    
}

footer a{
    text-decoration: none;
    color: var(--Dark-desaturated-cyan);
}


.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }